#jumbotron {
    background: url(http://www.castlewales.com/carew2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: cover;
}

@media only screen and (min-width: 992px) {
    #jumbotron {
        height: 500px;
    }
}

#Arthur, #Frenchman {
    max-height: 325px;
}

@media only screen and (min-width: 992px) {
    #Arthur, #Frenchman {
        margin-top: 130px;
    }
}

#runAwayArthur {
    position: relative;
    left: -5rem;
}

#runAwayFrenchman {
    position: relative;
    right: -5rem;
}